<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ojpms.dao.UserDao">
	 <resultMap id="UserResultMap" type="com.ojpms.dto.User">
	 	<id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="pswd" property="pswd" jdbcType="VARCHAR"/>
    </resultMap>
    
    <select id="getAllUser" resultMap="UserResultMap">
    	select * from user
    </select>
    <select id="getUserByNameAndPass" resultMap="UserResultMap">	
    	select * from user
    	where name=#{name} and pswd=#{pass}
    </select>
    <select id="getById" resultMap="UserResultMap">
    	select * from user
    	where id=#{id}
    </select>
    <insert id="insertUser" parameterType="com.ojpms.dto.User" keyProperty="id" useGeneratedKeys="true">
    	insert into user 
    		(id, name,pswd)
    	values 
    		(#{id,jdbcType=BIGINT},#{name,jdbcType=VARCHAR},#{pswd,jdbcType=VARCHAR}) 
    </insert>
    <select id="getByName" parameterType="string" resultMap="UserResultMap">
    	select * from user
    	where name=#{name}
    </select>
    <update id="updatePass" parameterType="string">
    	update user set pswd=#{pass} 
    	where name=#{name}
    </update>
</mapper>